<table  mat-table [dataSource]="cities" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>
 
  

    <!------------- DELETE Column ----------------->
    <ng-container style= "width: 120px;" matColumnDef="getdata">
      <th style= "width: 120px;" mat-header-cell *matHeaderCellDef>  </th>
      <td style= "width: 120px;" mat-cell *matCellDef="let element; let i = index">
          
      <button   *ngIf = "!element.saved" mat-raised-button mat-raised-button style="background-color: cadetblue; color: white;" (click)="getData(i)" >
          Get Data
      </button>   
      
      <button  *ngIf = "element.saved" mat-raised-button style="background-color: rgb(238, 133, 63); color: white;"(click)="newPredict(i)" >
        Get New Data
    </button>   

      </td>
    </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="temp">
          <th mat-header-cell *matHeaderCellDef> Temperature  </th>
          <td mat-cell *matCellDef="let element"> 
             {{element.temperature}}
         
      </td>
        </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="humidity">
          <th mat-header-cell *matHeaderCellDef> Humidity </th>
          <td mat-cell *matCellDef="let element"> 
           
          {{element.humidity}}
       
      </td>
        </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"> 
           
        <img [src] = "element.image">
      </td>
        </ng-container>


        
        <!------------- Predict Column ----------------->
        <ng-container style= "width: 120px;" matColumnDef="predict">
          <th style= "width: 120px;" mat-header-cell *matHeaderCellDef> Predict </th>
          <td style= "width: 120px;" mat-cell *matCellDef="let element; let i = index">
              
          <button *ngIf = "dataState[i]" mat-raised-button style="background-color:rgb(16, 82, 158); color: white;" (click) = "predict(element.temperature, element.humidity, i)" >
            Predict 
          </button> 
          
          <button  *ngIf = "!dataState[i] && !element.saved && pred[i] "  mat-raised-button color="primary"   (click) = "updateResult(element.id, element.temperature,  element.humidity, element.result, i , element.image)"  >
            Save 
          </button> 
          </td>
        </ng-container>

        !-- Name Column -->
         <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef> Result </th>
          <td mat-cell *matCellDef="let element"> 
           
            {{element.result}}
      </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>