<mat-card >
    <h1>Login</h1>
    <form #signinForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password" 
                name = "password" 
                type = "password"
                required>
            </mat-form-field>
          </p>                                       
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signinForm.form.valid">
                     Log in
            </button>
  
            <br> <br>
  
            <div *ngIf="hasError" style="color: red;" >
                {{errorMassage}}
            </div>
  
        </div>
      </div>
    </form>
   </mat-card>
  
  