<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/cities"  *ngIf = "(Auth.getUser()|async)" routerLinkActive="active">Cities</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Exam B - Evgeni</span>
      <div class = 'spacer' ></div>
        <a class = "whitelink" routerLink="/login"  *ngIf = "!(Auth.getUser()|async)" routerLinkActive="active">Login</a>
        <a class = "whitelink" routerLink="/signup" *ngIf = "!(Auth.getUser()|async)" routerLinkActive="active">Signup</a>
        <a class = "whitelink"  (click)="Auth.logout()"  *ngIf = "(Auth.getUser()|async)">Logout</a>
     

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
